<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Best Rap Puns</h1>
	<p>This site was built by Allen Coin, with the instruction of the fine folks at theFirehoseProject.</p>
	<br />
	<p>Best Rap Puns. What more do you want to know?</p>
	<br />
	<p>Go back and read some more Rap Puns, or submit your favorite one. Feel me?</p>
	<br />
	<div class="col-xs-12 col-sm-5 col-md-5 cold-lg-5">
		<%= image_tag 'handsome.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-sm-offset-1">
		<h2 class="text-center">Allen Coin</h2>
		<br />
		<p>Here's a picture of me. <strong><em>You're welcome.</em></strong> It was taken at Angkor Wat by Lisa Pepin</p>
	</div>

</div>
	<br class="clear" />
</div>
<br />
<br />
<br />
<br />