<h2>
	<span>B.R.P.//<%= @quote.unique_tag %></span>
	Check it:
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />